# **REGRESSION MODEL WITH KERAS**

## **Import libraries**

In [4]:
import pandas as pd
import numpy as np
from tensorflow import keras
from keras.models import Sequential
from keras.layers import Dense
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

## import dataset

In [5]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

## Let's check how many data points we have.

In [6]:
concrete_data.shape

(1030, 9)

In [7]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

## check for null values

In [8]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

## Split data into predictors and target

In [9]:
predictors = concrete_data.drop('Strength', axis=1)
target = concrete_data['Strength']

In [10]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [11]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

## Normalize the predictors

In [12]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()

## split data into training and test sets

In [13]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3)

## build a baseline model

In [14]:
model = Sequential()
model.add(Dense(10, activation='relu', input_shape=(X_train.shape[1],)))
model.add(Dense(1))
model.compile(optimizer='adam', loss='mean_squared_error')

## train the model

In [15]:
history = model.fit(X_train, y_train, epochs=100, verbose=2)

Epoch 1/100
23/23 - 1s - loss: 1150.2484 - 804ms/epoch - 35ms/step
Epoch 2/100
23/23 - 0s - loss: 709.6888 - 59ms/epoch - 3ms/step
Epoch 3/100
23/23 - 0s - loss: 564.2711 - 35ms/epoch - 2ms/step
Epoch 4/100
23/23 - 0s - loss: 472.2231 - 42ms/epoch - 2ms/step
Epoch 5/100
23/23 - 0s - loss: 406.4664 - 38ms/epoch - 2ms/step
Epoch 6/100
23/23 - 0s - loss: 359.7838 - 37ms/epoch - 2ms/step
Epoch 7/100
23/23 - 0s - loss: 328.3288 - 27ms/epoch - 1ms/step
Epoch 8/100
23/23 - 0s - loss: 307.0939 - 51ms/epoch - 2ms/step
Epoch 9/100
23/23 - 0s - loss: 291.8222 - 31ms/epoch - 1ms/step
Epoch 10/100
23/23 - 0s - loss: 279.8592 - 38ms/epoch - 2ms/step
Epoch 11/100
23/23 - 0s - loss: 269.9884 - 26ms/epoch - 1ms/step
Epoch 12/100
23/23 - 0s - loss: 262.8541 - 43ms/epoch - 2ms/step
Epoch 13/100
23/23 - 0s - loss: 255.2953 - 40ms/epoch - 2ms/step
Epoch 14/100
23/23 - 0s - loss: 248.5740 - 31ms/epoch - 1ms/step
Epoch 15/100
23/23 - 0s - loss: 243.2303 - 39ms/epoch - 2ms/step
Epoch 16/100
23/23 - 0s - loss: 237.8816 - 44ms/epoch - 2ms/step
Epoch 17/100
23/23 - 0s - loss: 232.8306 - 30ms/epoch - 1ms/step
Epoch 18/100
23/23 - 0s - loss: 229.1888 - 36ms/epoch - 2ms/step
Epoch 19/100
23/23 - 0s - loss: 225.8786 - 28ms/epoch - 1ms/step
Epoch 20/100
23/23 - 0s - loss: 220.5403 - 41ms/epoch - 2ms/step
Epoch 21/100
23/23 - 0s - loss: 216.6310 - 39ms/epoch - 2ms/step
Epoch 22/100
23/23 - 0s - loss: 213.4923 - 36ms/epoch - 2ms/step
Epoch 23/100
23/23 - 0s - loss: 210.5618 - 28ms/epoch - 1ms/step
Epoch 24/100
23/23 - 0s - loss: 207.4854 - 39ms/epoch - 2ms/step
Epoch 25/100
23/23 - 0s - loss: 206.1051 - 27ms/epoch - 1ms/step
Epoch 26/100
23/23 - 0s - loss: 202.6411 - 42ms/epoch - 2ms/step
Epoch 27/100
23/23 - 0s - loss: 198.7517 - 41ms/epoch - 2ms/step
Epoch 28/100
23/23 - 0s - loss: 196.2940 - 30ms/epoch - 1ms/step
Epoch 29/100
23/23 - 0s - loss: 193.7599 - 37ms/epoch - 2ms/step
Epoch 30/100
23/23 - 0s - loss: 190.6899 - 27ms/epoch - 1ms/step
Epoch 31/100
23/23 - 0s - loss: 189.3033 - 33ms/epoch - 1ms/step
Epoch 32/100
23/23 - 0s - loss: 186.7040 - 44ms/epoch - 2ms/step
Epoch 33/100
23/23 - 0s - loss: 180.5627 - 42ms/epoch - 2ms/step
Epoch 34/100
23/23 - 0s - loss: 177.9107 - 29ms/epoch - 1ms/step
Epoch 35/100
23/23 - 0s - loss: 173.1683 - 39ms/epoch - 2ms/step
Epoch 36/100
23/23 - 0s - loss: 170.0663 - 29ms/epoch - 1ms/step
Epoch 37/100
23/23 - 0s - loss: 167.0046 - 47ms/epoch - 2ms/step
Epoch 38/100
23/23 - 0s - loss: 163.9755 - 31ms/epoch - 1ms/step
Epoch 39/100
23/23 - 0s - loss: 160.0951 - 38ms/epoch - 2ms/step
Epoch 40/100
23/23 - 0s - loss: 155.8029 - 28ms/epoch - 1ms/step
Epoch 41/100
23/23 - 0s - loss: 152.3013 - 41ms/epoch - 2ms/step
Epoch 42/100
23/23 - 0s - loss: 145.7139 - 29ms/epoch - 1ms/step
Epoch 43/100
23/23 - 0s - loss: 137.4790 - 46ms/epoch - 2ms/step
Epoch 44/100
23/23 - 0s - loss: 131.1968 - 30ms/epoch - 1ms/step
Epoch 45/100
23/23 - 0s - loss: 126.8790 - 40ms/epoch - 2ms/step
Epoch 46/100
23/23 - 0s - loss: 125.2866 - 27ms/epoch - 1ms/step
Epoch 47/100
23/23 - 0s - loss: 121.2463 - 42ms/epoch - 2ms/step
Epoch 48/100
23/23 - 0s - loss: 119.6526 - 41ms/epoch - 2ms/step
Epoch 49/100
23/23 - 0s - loss: 118.0805 - 29ms/epoch - 1ms/step
Epoch 50/100
23/23 - 0s - loss: 116.0661 - 38ms/epoch - 2ms/step
Epoch 51/100
23/23 - 0s - loss: 114.3096 - 62ms/epoch - 3ms/step
Epoch 52/100
23/23 - 0s - loss: 110.9851 - 53ms/epoch - 2ms/step
Epoch 53/100
23/23 - 0s - loss: 109.1932 - 35ms/epoch - 2ms/step
Epoch 54/100
23/23 - 0s - loss: 109.2585 - 38ms/epoch - 2ms/step
Epoch 55/100
23/23 - 0s - loss: 107.1595 - 36ms/epoch - 2ms/step
Epoch 56/100
23/23 - 0s - loss: 105.0141 - 30ms/epoch - 1ms/step
Epoch 57/100
23/23 - 0s - loss: 104.2966 - 31ms/epoch - 1ms/step
Epoch 58/100
23/23 - 0s - loss: 103.3416 - 43ms/epoch - 2ms/step
Epoch 59/100
23/23 - 0s - loss: 102.5798 - 38ms/epoch - 2ms/step
Epoch 60/100
23/23 - 0s - loss: 101.8868 - 31ms/epoch - 1ms/step
Epoch 61/100
23/23 - 0s - loss: 100.1762 - 37ms/epoch - 2ms/step
Epoch 62/100
23/23 - 0s - loss: 102.3735 - 31ms/epoch - 1ms/step
Epoch 63/100
23/23 - 0s - loss: 99.3715 - 38ms/epoch - 2ms/step
Epoch 64/100
23/23 - 0s - loss: 98.2240 - 28ms/epoch - 1ms/step
Epoch 65/100
23/23 - 0s - loss: 97.8078 - 40ms/epoch - 2ms/step
Epoch 66/100
23/23 - 0s - loss: 97.2551 - 37ms/epoch - 2ms/step
Epoch 67/100
23/23 - 0s - loss: 96.6584 - 31ms/epoch - 1ms/step
Epoch 68/100
23/23 - 0s - loss: 98.4531 - 40ms/epoch - 2ms/step
Epoch 69/100
23/23 - 0s - loss: 96.6377 - 33ms/epoch - 1ms/step
Epoch 70/100
23/23 - 0s - loss: 94.2197 - 36ms/epoch - 2ms/step
Epoch 71/100
23/23 - 0s - loss: 94.3010 - 31ms/epoch - 1ms/step
Epoch 72/100
23/23 - 0s - loss: 92.8006 - 40ms/epoch - 2ms/step
Epoch 73/100
23/23 - 0s - loss: 93.5281 - 32ms/epoch - 1ms/step
Epoch 74/100
23/23 - 0s - loss: 92.4249 - 43ms/epoch - 2ms/step
Epoch 75/100
23/23 - 0s - loss: 90.4283 - 30ms/epoch - 1ms/step
Epoch 76/100
23/23 - 0s - loss: 90.4683 - 42ms/epoch - 2ms/step
Epoch 77/100
23/23 - 0s - loss: 89.2555 - 31ms/epoch - 1ms/step
Epoch 78/100
23/23 - 0s - loss: 89.4923 - 44ms/epoch - 2ms/step
Epoch 79/100
23/23 - 0s - loss: 90.9049 - 32ms/epoch - 1ms/step
Epoch 80/100
23/23 - 0s - loss: 87.5950 - 38ms/epoch - 2ms/step
Epoch 81/100
23/23 - 0s - loss: 86.3685 - 31ms/epoch - 1ms/step
Epoch 82/100
23/23 - 0s - loss: 87.1210 - 40ms/epoch - 2ms/step
Epoch 83/100
23/23 - 0s - loss: 85.5629 - 34ms/epoch - 1ms/step
Epoch 84/100
23/23 - 0s - loss: 85.7503 - 31ms/epoch - 1ms/step
Epoch 85/100
23/23 - 0s - loss: 85.4437 - 33ms/epoch - 1ms/step
Epoch 86/100
23/23 - 0s - loss: 84.2530 - 47ms/epoch - 2ms/step
Epoch 87/100
23/23 - 0s - loss: 84.1979 - 32ms/epoch - 1ms/step
Epoch 88/100
23/23 - 0s - loss: 83.5618 - 38ms/epoch - 2ms/step
Epoch 89/100
23/23 - 0s - loss: 83.8063 - 31ms/epoch - 1ms/step
Epoch 90/100
23/23 - 0s - loss: 83.0477 - 44ms/epoch - 2ms/step
Epoch 91/100
23/23 - 0s - loss: 82.4773 - 33ms/epoch - 1ms/step
Epoch 92/100
23/23 - 0s - loss: 83.3620 - 40ms/epoch - 2ms/step
Epoch 93/100
23/23 - 0s - loss: 82.8130 - 33ms/epoch - 1ms/step
Epoch 94/100
23/23 - 0s - loss: 81.9310 - 43ms/epoch - 2ms/step
Epoch 95/100
23/23 - 0s - loss: 82.1472 - 33ms/epoch - 1ms/step
Epoch 96/100
23/23 - 0s - loss: 81.4201 - 37ms/epoch - 2ms/step
Epoch 97/100
23/23 - 0s - loss: 82.1219 - 31ms/epoch - 1ms/step
Epoch 98/100
23/23 - 0s - loss: 81.8658 - 44ms/epoch - 2ms/step
Epoch 99/100
23/23 - 0s - loss: 81.4522 - 31ms/epoch - 1ms/step
Epoch 100/100
23/23 - 0s - loss: 79.8870 - 37ms/epoch - 2ms/step

## Evaluate the model on the test set and compute the MSE

In [16]:
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)

print("Mean Squared Error (100 Epochs):", mse)

10/10 [==============================] - 0s 1ms/step
Mean Squared Error (100 Epochs): 87.38888351365148

## Function to repeat steps 2 and 3, 50 times

In [17]:
def repeat_train_evaluate(model, X_train, y_train, X_test, y_test):
    mse_list = []
    for _ in range(50):
        model.fit(X_train, y_train, epochs=50, verbose=0)
        y_pred = model.predict(X_test)
        mse = mean_squared_error(y_test, y_pred)
        mse_list.append(mse)
    return mse_list

## Repeat steps 2 and 3, 50 times

In [18]:
mse_list = repeat_train_evaluate(model, X_train, y_train, X_test, y_test)

10/10 [==============================] - 0s 0s/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 0s/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step

##  Report the mean and standard deviation of the MSEs

In [36]:
mean_mse = np.mean(mse_list)
std_mse = np.std(mse_list)
print("Mean of MSEs:", mean_mse)
print("Standard deviation of MSEs:", std_mse)

Mean of MSEs: 51.50444734025811
Standard deviation of MSEs: 3.443574314544005