# **REGRESSION MODEL WITH KERAS**

## **Import libraries**

In [4]:
import pandas as pd
import numpy as np
from tensorflow import keras
from keras.models import Sequential
from keras.layers import Dense
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

## import dataset

In [5]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

## Let's check how many data points we have.

In [6]:
concrete_data.shape

(1030, 9)

In [7]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

## check for null values

In [8]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

## Split data into predictors and target

In [9]:
predictors = concrete_data.drop('Strength', axis=1)
target = concrete_data['Strength']

In [10]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [11]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

## Normalize the predictors

In [12]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()

## split data into training and test sets

In [13]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3)

## build a baseline model

In [20]:
model = Sequential()
model.add(Dense(10, activation='relu', input_shape=(X_train.shape[1],)))
model.add(Dense(10, activation='relu'))
model.add(Dense(10, activation='relu'))
model.add(Dense(1))
model.compile(optimizer='adam', loss='mean_squared_error')

## train the model

In [21]:
history = model.fit(X_train, y_train, epochs=50, verbose=2)

Epoch 1/50
23/23 - 1s - loss: 704.5924 - 909ms/epoch - 40ms/step
Epoch 2/50
23/23 - 0s - loss: 300.8202 - 48ms/epoch - 2ms/step
Epoch 3/50
23/23 - 0s - loss: 226.5735 - 36ms/epoch - 2ms/step
Epoch 4/50
23/23 - 0s - loss: 190.3724 - 45ms/epoch - 2ms/step
Epoch 5/50
23/23 - 0s - loss: 170.0420 - 28ms/epoch - 1ms/step
Epoch 6/50
23/23 - 0s - loss: 158.0299 - 41ms/epoch - 2ms/step
Epoch 7/50
23/23 - 0s - loss: 143.6398 - 42ms/epoch - 2ms/step
Epoch 8/50
23/23 - 0s - loss: 135.6608 - 40ms/epoch - 2ms/step
Epoch 9/50
23/23 - 0s - loss: 128.9507 - 26ms/epoch - 1ms/step
Epoch 10/50
23/23 - 0s - loss: 124.6918 - 56ms/epoch - 2ms/step
Epoch 11/50
23/23 - 0s - loss: 121.6829 - 53ms/epoch - 2ms/step
Epoch 12/50
23/23 - 0s - loss: 117.9495 - 43ms/epoch - 2ms/step
Epoch 13/50
23/23 - 0s - loss: 114.2576 - 48ms/epoch - 2ms/step
Epoch 14/50
23/23 - 0s - loss: 110.5273 - 46ms/epoch - 2ms/step
Epoch 15/50
23/23 - 0s - loss: 111.3113 - 45ms/epoch - 2ms/step
Epoch 16/50
23/23 - 0s - loss: 106.4403 - 32ms/epoch - 1ms/step
Epoch 17/50
23/23 - 0s - loss: 112.3222 - 63ms/epoch - 3ms/step
Epoch 18/50
23/23 - 0s - loss: 102.9334 - 45ms/epoch - 2ms/step
Epoch 19/50
23/23 - 0s - loss: 102.4639 - 44ms/epoch - 2ms/step
Epoch 20/50
23/23 - 0s - loss: 101.4931 - 49ms/epoch - 2ms/step
Epoch 21/50
23/23 - 0s - loss: 98.1726 - 58ms/epoch - 3ms/step
Epoch 22/50
23/23 - 0s - loss: 97.1271 - 43ms/epoch - 2ms/step
Epoch 23/50
23/23 - 0s - loss: 96.2305 - 42ms/epoch - 2ms/step
Epoch 24/50
23/23 - 0s - loss: 97.2526 - 41ms/epoch - 2ms/step
Epoch 25/50
23/23 - 0s - loss: 92.6362 - 107ms/epoch - 5ms/step
Epoch 26/50
23/23 - 0s - loss: 94.7529 - 40ms/epoch - 2ms/step
Epoch 27/50
23/23 - 0s - loss: 94.1997 - 54ms/epoch - 2ms/step
Epoch 28/50
23/23 - 0s - loss: 87.1502 - 42ms/epoch - 2ms/step
Epoch 29/50
23/23 - 0s - loss: 84.3146 - 30ms/epoch - 1ms/step
Epoch 30/50
23/23 - 0s - loss: 87.3099 - 45ms/epoch - 2ms/step
Epoch 31/50
23/23 - 0s - loss: 81.5729 - 42ms/epoch - 2ms/step
Epoch 32/50
23/23 - 0s - loss: 81.2574 - 46ms/epoch - 2ms/step
Epoch 33/50
23/23 - 0s - loss: 79.8400 - 46ms/epoch - 2ms/step
Epoch 34/50
23/23 - 0s - loss: 76.7787 - 49ms/epoch - 2ms/step
Epoch 35/50
23/23 - 0s - loss: 76.2325 - 44ms/epoch - 2ms/step
Epoch 36/50
23/23 - 0s - loss: 74.2870 - 44ms/epoch - 2ms/step
Epoch 37/50
23/23 - 0s - loss: 71.7145 - 43ms/epoch - 2ms/step
Epoch 38/50
23/23 - 0s - loss: 69.8054 - 50ms/epoch - 2ms/step
Epoch 39/50
23/23 - 0s - loss: 69.4590 - 46ms/epoch - 2ms/step
Epoch 40/50
23/23 - 0s - loss: 68.9117 - 46ms/epoch - 2ms/step
Epoch 41/50
23/23 - 0s - loss: 66.9840 - 49ms/epoch - 2ms/step
Epoch 42/50
23/23 - 0s - loss: 65.8814 - 46ms/epoch - 2ms/step
Epoch 43/50
23/23 - 0s - loss: 66.0227 - 48ms/epoch - 2ms/step
Epoch 44/50
23/23 - 0s - loss: 67.1545 - 43ms/epoch - 2ms/step
Epoch 45/50
23/23 - 0s - loss: 66.0792 - 42ms/epoch - 2ms/step
Epoch 46/50
23/23 - 0s - loss: 72.5300 - 46ms/epoch - 2ms/step
Epoch 47/50
23/23 - 0s - loss: 64.9870 - 46ms/epoch - 2ms/step
Epoch 48/50
23/23 - 0s - loss: 61.7786 - 48ms/epoch - 2ms/step
Epoch 49/50
23/23 - 0s - loss: 60.4730 - 46ms/epoch - 2ms/step
Epoch 50/50
23/23 - 0s - loss: 60.6751 - 34ms/epoch - 1ms/step

## Evaluate the model on the test set and compute the MSE

In [22]:
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)

print("Mean Squared Error (100 Epochs):", mse)

10/10 [==============================] - 0s 3ms/step
Mean Squared Error (100 Epochs): 83.97019909317385

## Function to repeat steps 2 and 3, 50 times

In [17]:
def repeat_train_evaluate(model, X_train, y_train, X_test, y_test):
    mse_list = []
    for _ in range(50):
        model.fit(X_train, y_train, epochs=50, verbose=0)
        y_pred = model.predict(X_test)
        mse = mean_squared_error(y_test, y_pred)
        mse_list.append(mse)
    return mse_list

## Repeat steps 2 and 3, 50 times

In [18]:
mse_list = repeat_train_evaluate(model, X_train, y_train, X_test, y_test)

10/10 [==============================] - 0s 0s/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 0s/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step

##  Report the mean and standard deviation of the MSEs

In [19]:
mean_mse = np.mean(mse_list)
std_mse = np.std(mse_list)
print("Mean of MSEs:", mean_mse)
print("Standard deviation of MSEs:", std_mse)

Mean of MSEs: 67.0746575783784
Standard deviation of MSEs: 10.583845893392061